
#print_frame{width:1077px;height:756px;}
input, textarea{background:none; border:none; display:block; margin-bottom:8px;overflow:hidden;resize: none;font: 13.3333px Arial;}


.form{display: block}
	.form input, .form textarea, .form select{display: block;margin: 0 6px;padding: 4px;width: 250px;border: 3px solid #AEFF7B;border-radius: 6px;color: #6C6C6C;transition: all 0.4s ease-out;}
	.form input:focus, .form textarea:focus { outline: none;border-color: #7AE239;}
	.form textarea{width: 600px}
	.form .error{border-color:red}
	.form input#scope_form{text-transform:uppercase}

	.form .div_name{float:left;}
	.form .for_name{  display: table;}
	.form .for{ margin-bottom:50px;}
	.form #for_name_cours{width:500px}

	.form table{border: 3px solid #AEFF7B;margin: 20px 6px ;border-radius: 6px;width:700px;color: #6C6C6C;}
		.form table th{border-bottom: 3px solid #AEFF7B}
		.form table th,td{padding: 10px 5px; text-align: center}
		
.print {//display:none}
.print span, .span{ display:block; margin-bottom:0.3cm;font: 13.3333px Arial;}
.print span.number span{display:inline; margin-right:5px}
.diploma{background-image:url(background.png); background-size: 100%;width:28.5cm;height:20cm;//padding-top:70px;//margin-left:5px}
	.diploma .left, .diploma .right{width:45%; height:100%; float:left;margin-top:1.8cm;//height:686px;}
	.diploma .right{padding-left: 2cm;}

	.diploma .reg_number{margin-left: 7.7cm;margin-top: 15.6cm; }

	.diploma .surname_dat{margin-left: 5cm;}
	.diploma .name_dat{margin-left: 2cm;display:inline }
	.diploma .middlename_dat,.diploma .middlename_rod{margin-left: 0.3cm; display:inline }

		.diploma .date1{margin-left: 3.9cm; display:inline;white-space: pre;}
		.diploma .date2{display:inline;white-space: pre;margin-left: 1.8cm;}
		.diploma .date3{margin-left: 4.5cm;white-space: pre;}
	.diploma .name_inst{margin-left: 0.8cm;line-height: 2;text-indent: 8.1cm; padding: 0px;margin-top: -0.1cm;    margin-bottom: 0.1cm;}
	
	.diploma .for_name_cours{padding-left:0.8cm;margin-top: -0.1cm;margin-bottom: 0.2cm;}
	.diploma .name_cours{display:inline;line-height: 2;text-indent: 1cm;}
	.diploma .prog{display:inline;margin-left: 0.5cm;}

	.diploma .surname_rod{margin-left: 3.4cm; }
	.diploma .name_rod{margin-left: 1.3cm;display:inline  }
	.diploma .scope{margin-left: 1cm;margin-top:0.9cm}
	.diploma .s_y {margin-top:5.9cm;margin-left: 1.8cm;}
		.diploma .sity{display:inline;padding-left:0.3cm}
		.diploma .year{display:inline;padding-left:2.4cm}


	.attachment	span, .attachment .span{ display:block; margin-bottom:0.5cm;font: 13.3333px Arial;}
	.attachment .span{display:table}
	.attachment span.number span{display:inline; margin-right:5px}
			
	.attachment{background-image:url(background1.jpg); background-size: 100%;width:14.25cm;height:20cm;padding-top: 1.3cm;margin:auto}
	.attachment .number{margin-left:11cm}
	.attachment .surname{margin-left:1.5cm;float:left; margin-top:2.4cm}
	.attachment .name, .attachment .middlename{ margin-top:2.4cm;float:left;margin-left:0.25cm;}
			
	.attachment .educ{margin-top:4.7cm;margin-left:7.5cm;}
			
	.attachment .date1{margin-left: 1.8cm; float:left;white-space: pre;margin-top: 0.9cm;}
	.attachment .date2{float:left;white-space: pre;margin-left: 2.8cm;margin-top: 0.9cm;}
			
	.attachment .name_inst{margin-top:-0.9cm;margin-left: 1.5cm;text-indent: 10cm;line-height: 2.5}
	.attachment .name_cours{margin-top: 0.2cm;margin-left: 1.5cm;text-indent: 2.5cm;line-height: 1.3;}
			
	.attachment .atestation{margin-top: 2.3cm;margin-left: 1.5cm;text-indent: 8.5cm;line-height: 1.3;}
	.attachment .evaluation{display:inline}
	
.attachment2{background-image:url(background2.jpg); background-size: 100%;width:538.5px;height:700px;padding-top: 56px;float:left}
	.attachment2 .for_attachment2{    margin-top: 80px;width: 450px;margin-left: 45px;}
	.attachment2 .for_attachment2 tr:nth-child(1) {display:none}
	.attachment2 .for_attachment2 tr td:nth-child(1){width: 20px;vertical-align: top;padding-top: 9px;}
	.attachment2 .for_attachment2 tr td:nth-child(2){ width:190px;padding: 2px 2px;text-align: left;}
	.attachment2 .for_attachment2 tr td:nth-child(3){ width:100px;}
	
		.attachment2 .for_attachment2 select{border:none; background:none;padding-left: 16px;-webkit-appearance: none;-moz-appearance: none}
		
	.attachment2 .hours{margin-top:100px; margin-left:150px}
@media print {
	@page {size: landscape; margin:0;padding:0}
	
	}
	